<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" routerLink="/admin">
                Admin
            </a>
            <div (click)="toggleNavbar()" class="navbar-burger burger" [class.is-active]="isOpen">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" [class.is-active]="isOpen">
            <div class="navbar-start">
                <a class="navbar-item" (click)="toggleNavbar()" routerLink="/admin" routerLinkActive="is-active">
                    Home
                </a>
                <a class="navbar-item" (click)="toggleNavbar()" routerLink="/admin/orders" routerLinkActive="is-active">
                    Orders
                </a>
                <a class="navbar-item" (click)="toggleNavbar()" routerLink="/admin/payments"
                    routerLinkActive="is-active">
                    Payments
                </a>
                <a class="navbar-item" (click)="toggleNavbar()" routerLink="/admin/exceptions"
                    routerLinkActive="is-active">
                    Exceptions
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        <figure class="image is-24x24">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Profile
                        </a>
                        <a class="navbar-item">
                            Logout
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>