@import "../../../assets/styles/variables.scss";

.hero {
  &.welcome {
    &.is-info {
      background: $turquoise;
      background: -webkit-linear-gradient(to right, $blue, $turquoise);
      background: linear-gradient(to right, $blue, $turquoise);
    }
  }
}
.hero.welcome .title,
.hero.welcome .subtitle {
  color: $white;
}
