<aside class="menu is-hidden-mobile">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a routerLink="/admin" routerLinkActive="is-active">Dashboard</a></li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Customers</a></li>
    </ul>
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li><a routerLink="/admin" routerLinkActive="is-active">Team Settings</a></li>
        <li>
            <a routerLink="/admin" routerLinkActive="is-active">Manage Your Team</a>
            <ul>
                <li><a routerLink="/admin" routerLinkActive="is-active">Members</a></li>
                <li><a routerLink="/admin" routerLinkActive="is-active">Plugins</a></li>
                <li><a routerLink="/admin" routerLinkActive="is-active">Add a member</a></li>
            </ul>
        </li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Invitations</a></li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Cloud Storage Environment Settings</a></li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Authentication</a></li>
    </ul>
    <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a routerLink="/admin" routerLinkActive="is-active">Payments</a></li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Transfers</a></li>
        <li><a routerLink="/admin" routerLinkActive="is-active">Balance</a></li>
    </ul>
</aside>