// Grayscale
$black: hsl(220, 58%, 4%);
$black-bis: hsl(220, 58%, 14%);
$black-ter: hsl(220, 58%, 14%);
$grey-darker: hsl(210, 10%, 21%); 
$grey-dark: hsl(210, 10%, 29%);
$grey: hsl(210, 10%, 60%);
$grey-light: hsl(206, 23%, 86%);   
$grey-lighter: hsl(206, 23%, 94%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// System colors
$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 71%, 48%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);